body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans Narrow", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #000000;
  background-image: url("../img/bg.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
}

.button {
  font: inherit;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #000000;
  border: none;
}

.button:hover,
.button:focus,
.button:active {
  background-color: #663d15;
}

.navigation {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #000000;
}

.navigation__menu,
.navigation__user {
  list-style: none;
}

.menu__link {
  color: #ffffff;
}

.menu__link:hover,
.menu__link:focus {
  background-color: #242424;
}

.user__link {
  color: #ffffff;
}

.user__link:hover,
.user__link:focus {
  background-color: #242424;
}

.page__title {
  font-size: 30px;
  line-height: 42px;
}


.features__list {
  list-style: none;
}

.feature__item {
  text-align: center;
}

.feature__tagline {
  font-size: 30px;
  line-height: 42px;
}

.index-columns {
  color: #000000;
  background-color: #f8f5f2;
  background-image: url("img/pattern-light.jpg");
  background-position: 0 0;
  background-repeat: repeat;
}

.news__title {
  font-size: 30px;
  line-height: 42px;
}

.news__list {
  list-style: none;
}

.news__time {
  text-transform: none;
}

.gallery__title {
  font-size: 30px;
  line-height: 42px;
}

.gallery__content {
  background-color: #cccccc;
  border: 7px solid #ffffff;
}

.appointment__input {
  font: inherit;
  background-color: transparent;
  border: 2px solid #000000;
}

.appointment__input:focus {
  border-color: #663d15;
}

.page__footer {
  color: #ffffff;
  background-color: #212121;
  background-image: url("img/pattern-dark.jpg");
  background-position: 0 0;
  background-repeat: repeat;
}

.footer-contacts__link {
  color: #ffffff;
  text-decoration: underline;
}

.footer-contacts__link:hover,
.footer-contacts__link:focus {
  text-decoration: none;
}

.social {
  text-align: center;
}

.social__list {
  list-style: none;
}

.social__link {
  color: #ffffff;
}

.copyright {
  text-align: center;
}

.copyright__button:hover,
.copyright__button:focus {
  color: #000000;
  background-color: #ffffff;
}

.modal {
  color: #000000;
  background-color: #f8f3f0;
  background-image: url("img/pattern-light.jpg");
  background-position: 0 0;
  background-repeat: repeat;
}

.modal-login__title {
  font-size: 30px;
  line-height: 42px;
}

.login-form__input {
  font: inherit;
  color: #000000;
  text-transform: uppercase;
  background-color: #f9f6f3;
  border: 2px solid #000000;
}

.login-form__input:focus {
  border-color: #663d15;
}

.login-form__checkbox:hover,
.login-form__checkbox:focus {
  color: #663d15;
}

.login-form__restore {
  color: #000000;
  text-decoration: underline;
}

.login-form__restore:hover,
.login-form__restore:focus {
  text-decoration: none;
}


.page--inner {
  color: #000000;
  background-color: #f9f6f3;
  background-image: url("../img/pattern-light.jpg");
  background-position: 0 0;
  background-repeat: repeat;
}

.breadcrumbs {
  list-style: none;
}

.breadcrumbs__link {
  color: #000000;
}

.breadcrumbs__link:hover,
.breadcrumbs__link:focus {
  text-decoration: underline;
}

.breadcrumbs__item--current {
  color: #aba9a7;
}

.filter__group {
  border: none;
}

.filter__title {
  font-size: 24px;
  line-height: 30px;
}

.filter__list {
  list-style: none;
  line-height: 18px;
}

.filter__input:hover + .filter__label,
.filter__input:focus + .filter__label {
  color: #663d15;
}

.filter__input:disabled + .filter__label {
  color: #000000;
  opacity: 0.5;
}

.catalog__list {
  list-style: none;
}

.сard {
  background-color: #f8f8f8;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.сard:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.card__text-link {
  color: #000000;
}

.card__title {
  font-size: 14px;
  line-height: 18px;
}

.card__category {
  text-transform: none;
}

.card__price {
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  background-color: #e5e5e5;
}

.card__button {
  line-height: 20px;
  color: #ffffff;
}

.pagination__list {
  list-style: none;
}

.pagination__link {
  color: #ffffff;
  background-color: #000000;
}

.pagination__link:hover,
.pagination__link:focus,
.pagination__link:active {
  background-color: #663d15;
}

.pagination__link--current {
  color: #000000;
  background-color: #ffffff;
}

.pagination__link--current:hover,
.pagination__link--current:focus,
.pagination__link--current:active {
  color: #000000;
  background-color: #ffffff;
}
