@charset "UTF-8";
@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px); }
  70% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px); }
  90% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px); }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0); } }
@keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px); }
  70% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px); }
  90% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px); }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

@-webkit-keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0); }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px); }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px); } }

@keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0); }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px); }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px); } }

body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans Narrow", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #000000;
  background-image: url("../img/bg.jpg");
  background-position: top center;
  background-repeat: no-repeat; }

a {
  text-decoration: none; }

img {
  max-width: 100%;
  height: auto; }

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px; }

.container--nav {
  display: flex;
  justify-content: space-between; }

.container--footer {
  display: flex; }

.button {
  display: inline-block;
  margin-right: 16px;
  padding: 10px 30px;
  font: inherit;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #000000;
  border: none; }

.button:hover,
.button:focus,
.button:active {
  background-color: #663d15;
  cursor: pointer; }

.button.disabled,
.button:disabled {
  cursor: default;
  opacity: 0.5;
  background-color: #000000; }

.navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff; }

.navigation__wrapper {
  width: 100%;
  margin-bottom: 60px;
  background-color: #000000; }

.navigation--inner {
  align-items: flex-start;
  flex-direction: row; }

.navigation__logo {
  order: 2;
  width: 368px;
  height: 153px; }

.navigation__logo--inner {
  order: 0;
  width: 111px;
  height: 24px;
  padding: 23px 20px; }

.menu {
  display: flex;
  flex-wrap: wrap;
  width: 620px;
  margin: 0;
  padding: 0;
  list-style: none; }

.menu__link {
  display: inline-block;
  padding: 25px 20px;
  vertical-align: middle;
  color: #ffffff; }

.user {
  display: flex;
  max-width: 140px;
  margin: 0;
  padding: 0;
  list-style: none; }

.user--inner {
  margin-left: auto; }

.menu__link:hover,
.menu__link:focus {
  background-color: #242424; }

.user__link {
  position: relative;
  display: inline-block;
  padding: 25px 20px;
  padding-left: 50px;
  vertical-align: middle;
  color: #ffffff; }

.user__link:hover,
.user__link:focus {
  background-color: #242424; }

.user__link::before {
  content: "";
  position: absolute;
  top: 27px;
  left: 24px;
  width: 16px;
  height: 18px;
  background-image: url("../img/login.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3; }

.page__header {
  margin-bottom: 75px; }

.page__header--inner {
  margin-bottom: 50px;
  background-color: #000000; }

.page__title {
  font-size: 30px;
  line-height: 42px; }

.page__columns {
  display: flex;
  justify-content: space-between;
  padding: 50px 80px;
  margin-bottom: 35px;
  color: #000000;
  background-color: #f8f5f2;
  background-image: url("../img/line.png"), url("../img/pattern-light.jpg");
  background-position: center, 0 0;
  background-repeat: no-repeat, repeat; }

.page--inner {
  color: #000000;
  background-color: #f9f6f3;
  background-image: url("../img/pattern-light.jpg");
  background-position: 0 0;
  background-repeat: repeat; }

.page__product-wrapper {
  display: flex;
  justify-content: space-between; }

.features {
  margin-bottom: 80px; }

.features__list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none; }

.features__item {
  width: 300px;
  text-align: center; }

.features__tagline {
  position: relative;
  margin: 0;
  margin-bottom: 60px;
  font-size: 30px;
  line-height: 42px; }

.features__tagline::after {
  content: "";
  position: absolute;
  bottom: -30px;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-left: -10px;
  background-color: #ffffff;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg); }

.features__text {
  margin: 0 10px; }

.news {
  width: 380px; }

.news__title {
  margin: 0;
  margin-bottom: 25px;
  font-size: 30px;
  line-height: 42px; }

.news__list {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  list-style: none; }

.news__item {
  margin-bottom: 25px; }

.news__text {
  margin: 0; }

.news__time {
  text-transform: none; }

.gallery {
  width: 300px; }

.gallery__wrapper {
  position: relative;
  height: 260px; }

.gallery__title {
  font-size: 30px;
  line-height: 42px; }

.gallery__content {
  height: 164px;
  margin: 0;
  background-color: #cccccc;
  border: 7px solid #ffffff; }

.gallery__image {
  width: 286px;
  height: 164px; }

.gallery__button {
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  width: 140px;
  margin: 0; }

.gallery__button--back {
  left: 0; }

.gallery__button--next {
  right: 0; }

.contacts {
  width: 380px; }

.contacts__address,
.contacts__time {
  margin: 0;
  margin-bottom: 25px; }

.appointment {
  width: 300px; }

.appointment__info {
  margin: 0;
  margin-bottom: 15px; }

.appointment__form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

.appointment__item {
  width: 140px;
  margin: 0;
  margin-bottom: 10px; }

.appointment__input {
  box-sizing: border-box;
  width: 140px;
  padding-top: 8px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 7px;
  font: inherit;
  background-color: transparent;
  border: 2px solid #000000; }

.appointment__input:focus {
  border-color: #663d15; }

.appointment__label {
  display: block;
  margin-bottom: 9px;
  margin-left: 15px; }

.appointment__button {
  display: block;
  width: 100%;
  margin-top: 10px;
  margin-right: 0; }

.footer {
  padding: 60px 0;
  margin-top: 65px;
  color: #ffffff;
  background-color: #212121;
  background-image: url("../img/pattern-dark.jpg");
  background-position: 0 0;
  background-repeat: repeat; }

.footer--inner {
  margin-top: 45px; }

.footer__contacts {
  width: 320px;
  margin: 0;
  margin-right: 80px; }

.footer__link {
  color: #ffffff;
  text-decoration: underline; }

.footer__contacts__link:hover,
.footer__contacts__link:focus {
  text-decoration: none; }

.social {
  width: 145px;
  text-align: center; }

.social__tagline {
  display: block;
  margin-bottom: 15px; }

.social__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 141px;
  margin: 0 auto;
  padding: 0;
  list-style: none; }

.social__link {
  color: #ffffff; }

.social__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 43px;
  height: 43px;
  background-color: #000000; }

.social__button:hover,
.social__button:focus {
  background-color: #ffffff; }

.social__button:hover .social__path,
.social__button:focus .social__path {
  fill: #000000; }

.copyright {
  width: 150px;
  margin: 0;
  margin-left: auto;
  text-align: center; }

.copyright__text {
  display: block;
  margin-bottom: 15px; }

.copyright__button {
  display: block;
  margin-right: 0; }

.copyright__button:hover,
.copyright__button:focus {
  color: #000000;
  background-color: #ffffff; }

.modal {
  position: fixed;
  color: #000000;
  background-color: #f8f3f0;
  background-image: url("../img/pattern-light.jpg");
  background-position: 0 0;
  background-repeat: repeat;
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7); }

.modal-login {
  top: 120px;
  left: 50%;
  width: 300px;
  margin-left: -230px;
  padding: 50px 80px;
  display: none; }

.modal-show {
  display: block;
  -webkit-animation: bounce 0.6s;
          animation: bounce 0.6s; }

.modal-error {
  -webkit-animation: shake 0.6s;
          animation: shake 0.6s; }

.modal__close {
  position: absolute;
  top: 0;
  right: -34px;
  width: 22px;
  height: 22px;
  font-size: 0;
  background-color: transparent;
  border: 0;
  cursor: pointer; }

.modal__close::before,
.modal__close::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 2px;
  width: 19px;
  height: 3px;
  background-color: #d0d0d0; }

.modal__close::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg); }

.modal__close::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg); }

.modal-login__title {
  margin: 0;
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 42px; }

.modal-login__text {
  margin: 0;
  margin-bottom: 10px; }

.login-form__item {
  margin: 0;
  margin-bottom: 10px; }

.login-form__item--info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 15px 0; }

.login-form__input {
  box-sizing: border-box;
  width: 300px;
  padding: 10px 15px;
  padding-right: 40px;
  font: inherit;
  color: #000000;
  text-transform: uppercase;
  background-color: #f9f6f3;
  border: 2px solid #000000; }

.login-form__input:focus {
  border-color: #663d15; }

.login-form__input--user {
  background-image: url("../img/user.svg");
  background-position: 270px center;
  background-repeat: no-repeat; }

.login-form__input--password {
  background-image: url("../img/lock.svg");
  background-position: 270px center;
  background-repeat: no-repeat; }

.login-form__checkbox {
  position: relative;
  padding-left: 30px;
  cursor: pointer; }

.login-form__checkbox:hover,
.login-form__checkbox:focus {
  color: #663d15; }

.login-form__input--checkbox + .login-form__indicator {
  position: absolute;
  top: 0;
  left: 0;
  width: 17px;
  height: 17px;
  border: 2px solid #000000; }

.login-form__input--checkbox:focus + .login-form__indicator {
  border-color: #663d15;
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color; }

.login-form__input--checkbox:checked + .login-form__indicator::before,
.login-form__input--checkbox:checked + .login-form__indicator::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 1px;
  width: 15px;
  height: 2px;
  background-color: #000000; }

.login-form__input--checkbox:checked + .login-form__indicator::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg); }

.login-form__input--checkbox:checked + .login-form__indicator::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg); }

.login-form__restore {
  color: #000000;
  text-decoration: underline; }

.login-form__restore:hover,
.login-form__restore:focus {
  text-decoration: none; }

.modal-map {
  top: 50%;
  left: 50%;
  width: 766px;
  height: 561px;
  margin-top: -280px;
  margin-left: -390px;
  border: 7px solid white;
  display: none; }

.modal-map__photo {
  margin: 0; }

.breadcrumbs {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-bottom: 50px;
  list-style: none; }

.breadcrumbs__item {
  position: relative;
  margin-right: 42px; }
  .breadcrumbs__item:last-child {
    margin-right: 0; }
  .breadcrumbs__item::after {
    content: "";
    position: absolute;
    top: 7px;
    right: -25px;
    width: 8px;
    height: 8px;
    background-color: #000000;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); }

.breadcrumbs__item--current::after {
  display: none; }

.breadcrumbs__link {
  color: #000000; }

.breadcrumbs__link:hover,
.breadcrumbs__link:focus {
  text-decoration: underline; }

.breadcrumbs__item--current {
  color: #aba9a7; }

.filter {
  width: 180px; }

.filter__group {
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
  border: none; }
  .filter__group:first-child {
    margin-bottom: 35px; }

.filter__title {
  margin-bottom: 26px;
  font-size: 24px;
  line-height: 30px; }

.filter__list {
  padding: 0;
  margin: 0;
  list-style: none;
  line-height: 18px; }

.filter__input:hover + .filter__label,
.filter__input:focus + .filter__label {
  color: #663d15; }

.filter__input:disabled + .filter__label {
  color: #000000;
  opacity: 0.5; }

.filter__option {
  margin-bottom: 19px;
  padding-left: 45px; }

.filter__label {
  position: relative;
  display: block;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

.filter__input--checkbox + label::before {
  content: "";
  position: absolute;
  left: -42px;
  top: 0;
  width: 16px;
  height: 16px;
  border: 2px solid #000000; }

.filter__input--checkbox:checked + label::after {
  content: "";
  position: absolute;
  top: 4px;
  left: -38px;
  width: 12px;
  height: 12px;
  background-image: url("../img/cross.svg");
  background-repeat: no-repeat;
  background-position: 0 0; }

.filter__input--radio + label::before {
  content: "";
  position: absolute;
  left: -42px;
  top: -1px;
  width: 16px;
  height: 16px;
  border: 2px solid #000000;
  border-radius: 50%; }

.filter__input--radio:checked + label::after {
  content: "";
  position: absolute;
  top: 5px;
  left: -36px;
  width: 8px;
  height: 8px;
  background-color: #000000;
  border-radius: 50%; }

.catalog-wrapper {
  display: flex;
  justify-content: space-between; }

.catalog {
  width: 700px; }

.catalog__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  margin-bottom: 25px;
  list-style: none; }

.catalog__item {
  width: 220px;
  margin-bottom: 20px;
  margin-right: 20px; }

.catalog__item:nth-child(3n) {
  margin-right: 0; }

.сard {
  background-color: #f8f8f8;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); }

.сard:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); }

.card__text-link {
  display: flex;
  flex-direction: column;
  color: #000000; }

.card__title {
  order: 1;
  margin-top: 17px;
  margin-bottom: 12px;
  margin-left: 16px;
  margin-right: 15px;
  font-size: 14px;
  line-height: 18px; }

.card__category {
  display: block;
  text-transform: none; }

.card__order {
  display: flex;
  margin: 15px;
  margin-top: 0; }

.card__price {
  width: 112px;
  padding: 13px 25px 11px;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  background-color: #e5e5e5; }

.card__button {
  width: 50px;
  padding: 13px 18px 11px;
  margin-right: 0;
  line-height: 20px;
  color: #ffffff; }

.card__image {
  width: 220px;
  height: 165px;
  margin: 0; }

.pagination {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none; }

.pagination__item {
  margin-right: 5px; }
  .pagination__item:last-child {
    margin-right: 0; }

.pagination__link {
  display: block;
  padding: 10px 19px;
  color: #ffffff;
  background-color: #000000; }

.pagination__link--current {
  display: block;
  padding: 10px 19px;
  color: #000000;
  background-color: #ffffff; }

.pagination__link:hover,
.pagination__link:focus,
.pagination__link:active {
  background-color: #663d15; }

.pagination__link--current:hover,
.pagination__link--current:focus,
.pagination__link--current:active {
  color: #000000;
  background-color: #ffffff; }

.product-photos {
  width: 460px; }

.product-photos__list {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none; }

.product-photos__item {
  width: 140px;
  height: 149px;
  margin-right: 20px;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1); }
  .product-photos__item:nth-child(3n) {
    margin-right: 0; }

.product-photo__full {
  width: 460px;
  height: 498px;
  margin: 0;
  margin-bottom: 20px;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1); }

.product-info {
  width: 390px;
  padding-top: 23px; }

.product-info__panel {
  display: flex;
  justify-content: space-between;
  padding-right: 10px;
  margin-bottom: 29px; }

.product-info__availability {
  width: 200px;
  margin: 0; }

.product-info__article {
  margin: 0;
  width: 200px;
  text-align: right;
  color: #aeaeae; }

.product-info__price {
  width: 112px;
  padding-top: 13px;
  padding-left: 36px;
  padding-right: 36px;
  padding-bottom: 11px;
  line-height: 20px;
  text-align: center;
  background-color: #e5e5e5;
  box-sizing: border-box; }

.product-info__description {
  margin: 0;
  margin-bottom: 27px;
  font-size: 24px;
  line-height: 30px; }

.product-info__list {
  margin: 0;
  padding: 0;
  list-style: none; }

.product-info__item {
  position: relative;
  padding-left: 23px; }
  .product-info__item::before {
    content: "";
    position: absolute;
    top: 7px;
    left: 2px;
    width: 8px;
    height: 8px;
    background-color: #000000;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); }

.product-info__text {
  margin: 0; }

.product-info__order {
  margin: 0; }

.product-info__order {
  display: flex;
  margin-bottom: 63px; }

.product-info__button {
  padding-left: 17px;
  padding-right: 17px; }

.product-info__text {
  margin-bottom: 35px; }

.price {
  margin-bottom: 75px; }

.price__tagline {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 24px;
  line-height: 30px; }

.price__tagline--about {
  width: 100%; }

.price__title {
  display: flex;
  align-items: center;
  margin-top: 55px;
  margin-bottom: 65px;
  font-size: 48px;
  line-height: 48px;
  text-align: center; }

.price__title::before,
.price__title::after {
  content: "";
  width: 50px;
  height: 2px;
  background: #000000; }

.price__title::before,
.price__title::after {
  content: "";
  flex-grow: 1;
  flex-shrink: 0;
  width: 50px;
  height: 2px;
  background: #000000; }

.price__title::before {
  margin-right: 25px; }

.price__title::after {
  margin-left: 25px; }

.price__brands {
  margin: 14px 0;
  padding: 0;
  list-style: none; }

.price__brand {
  position: relative;
  margin-bottom: 15px;
  padding-left: 20px; }

.price__brand::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 0;
  width: 8px;
  height: 8px;
  background-color: #000000;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg); }

.price__list {
  width: 100%;
  border-collapse: collapse; }

.price__item,
.price__cost {
  width: 50%;
  padding: 10px 15px;
  border: 2px solid #000000; }

.price__cost {
  text-align: center; }

.price__column {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 60px 0; }

.price__column--left,
.price__column--right {
  width: 460px; }

.price__column--left *:first-child,
.price__column--right *:first-child {
  margin-top: 0; }

.price__column--left *:last-child,
.price__column--right *:last-child {
  margin-bottom: 0; }

.price__text {
  padding-right: 80px; }
