.modal-map {
  top: 50%;
  left: 50%;
  width: 766px;
  height: 561px;
  margin-top: -280px;
  margin-left: -390px;
  border: 7px solid white;
  display: none;
}

.modal-show {
  display: block;
  animation: bounce 0.6s;
}

.modal-map__photo {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    margin: 0;
}

.modal-map iframe {
  position: relative;
  z-index: 2;
  border: none;
}
