.page__header {
  margin-bottom: 75px;
}

.page__header--inner {
  margin-bottom: 50px;
  background-color: #000000;
}

.page__title {
  font-size: 30px;
  line-height: 42px;
}

.page__columns {
  display: flex;
  justify-content: space-between;
  padding: 50px 80px;
  margin-bottom: 35px;
  color: #000000;
  background-color: #f8f5f2;
  background-image: url("../img/line.png"), url("../img/pattern-light.jpg");
  background-position: center, 0 0;
  background-repeat: no-repeat, repeat;
}

.page--inner {
  color: #000000;
  background-color: #f9f6f3;
  background-image: url("../img/pattern-light.jpg");
  background-position: 0 0;
  background-repeat: repeat;
}

.page__product-wrapper {
  display: flex;
  justify-content: space-between;
}
