.product-info__article {
  text-align: right;
  color: #aeaeae;
}

.product-info__price {
  line-height: 20px;
  text-align: center;
  background-color: #e5e5e5;
}

.product-info__description {
  font-size: 24px;
  line-height: 30px;
}

.product-info__list {
  list-style: none;
}
